.wrapper{
  height: 100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  background: linear-gradient(0deg,black 0%,blue 35%,skyblue 100%);
  overflow: scroll;
}
.box div{
  position: absolute;
  width: 60px;
  height:60px;
  background-color: transparent;
  border: 6px solid rgb(255,255,255,0.8);
}
.box div:nth-child(1){
  top:12%;
  left:42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top:70%;
  left:50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top:17%;
  left:6%;
  animation: animate 8s linear infinite;
}
.box div:nth-child(4){
  top:20%;
  left:60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top:67%;
  left:10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top:80%;
  left:70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top:60%;
  left:80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top:32%;
  left:25%;
  animation: animate 13s linear infinite;
}
.box div:nth-child(9){
  top:90%;
  left:25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top:20%;
  left:80%;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform :scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform :scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
.card{
  width: 250px;
  height: 350px;
  margin: 10px;
}
.central{
  display: flex;
  justify-content: center;
}
.cardimg{
  width:100%;
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color:#ffffff;
  border:1px solid black;
  text-shadow: 0px 0px 10px blue,
   0px 0px 20px blue,
   0px 0px 40px blue,
   0px 0px 80px blue,
   0px 0px 100px blue,
   0px 0px 120px blue;
}
.card:hover{
  box-shadow: 0px 0px 10px whitesmoke,
  0px 0px 20px whitesmoke,
  0px 0px 40px #f5f5f5;
}
.card-text ul{
  height: 130px;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 14px;
  font-weight: bold;
  font-family: cursive;
  list-style-type:disc;
}
.card-text ul li{
  color:white;
}
.card-text .btn-sm{
  text-decoration: none;
}
.card-text span:hover{
  cursor: pointer;
}
.adder{
  min-width: 360px;
  max-width: 600px;
  height: 550px;
  background: linear-gradient(180deg,blue 35%,skyblue 100%);
  margin-left: 25%;
  overflow: auto;
}
.adder form{
  margin: 7px;
  color: #f5f5f5;
  font-weight: bold;
}
.adder::-webkit-scrollbar {
  width: 5px;
}
.adder::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.adder::-webkit-scrollbar-thumb {
  background: blue;
}
.adder::-webkit-scrollbar-thumb:hover {
  background: black;
}
.manage{
  margin: 10px;
  margin-left: 22%;
  margin-right: 25%;
}
.tester table{
  background: white;
  height:40%;
  min-width:360px;
  max-width: 700px;
  margin: 10px;
  margin-left: 22%;
  margin-right: 50%;
}
@media only screen and (max-width: 768px) {
  .adder {
    margin: 0;
  }
  .manage{
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .tester table{
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
  }
}